<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sales Force">
	
	<listeners>
        <listener class-name="pomSalesForce.utility.testNGListenersSF"/>
    </listeners>
        
	<test  thread-count="1" name="5 login Test cases">
		<parameter name="url" value="https://login.salesforce.com/"></parameter>
		 <classes>
		 	<class name="pomSalesForce.runners.RunnerForSalesForce" /> 	 	
  		    <class name="pomSalesForce.base.BaseAction"/>
		 </classes>
	</test>
</suite>

